 * { margin:0; padding:0; box-sizing:border-box; font-family:Arial,sans-serif; }
    body {
      background: linear-gradient(135deg,#050816,#0b1437);
      color:white;
    }

    .contact-section {
      min-height: 100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      padding:60px 20px;
    }

    .contact-box {
      width:100%;
      max-width:700px;
      background: rgba(255,255,255,0.05);
      backdrop-filter: blur(10px);
      padding:40px;
      border-radius:20px;
      box-shadow:0 10px 30px rgba(0,0,0,0.3);
      animation: fadeUp 1s ease;
    }

    .contact-box h1 {
      text-align:center;
      margin-bottom:25px;
      font-size:38px;
    }

    .input-group {
      margin-bottom:20px;
    }

    input, textarea {
      width:100%;
      padding:15px;
      border:none;
      border-radius:12px;
      outline:none;
      background:rgba(255,255,255,0.08);
      color:white;
    }

    textarea { resize:none; height:150px; }

    button {
      width:100%;
      padding:15px;
      border:none;
      border-radius:12px;
      background:#6c4cff;
      color:white;
      font-size:18px;
      cursor:pointer;
      transition:.3s;
    }

    button:hover {
      transform:translateY(-4px);
      box-shadow:0 10px 25px rgba(108,76,255,0.4);
    }

    footer {
      background: linear-gradient(90deg,#071326,#020814);
      padding:60px 8% 25px;
      animation: fadeUp 1.3s ease;
    }

    .footer-container {
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
      gap:40px;
      margin-bottom:30px;
    }

    .footer-box h2, .footer-box h3 {
      margin-bottom:18px;
    }

    .footer-box p, .footer-box li {
      color:#c5c7d3;
      line-height:1.8;
      list-style:none;
      
    }

    .socials {
      display:flex;
      gap:12px;
      margin-top:20px;

    }

    .socials div {
      width:38px;
      height:38px;
      border-radius:50%;
      background:#2a356d;
      display:flex;
      justify-content:center;
      align-items:center;
      cursor:pointer;
      transition:.3s;
    }

    .socials div:hover {
      transform:translateY(-5px);
      background:#6c4cff;
    }

    .copyright {
      text-align:center;
      padding-top:20px;
      border-top:1px solid rgba(255,255,255,0.08);
      color:#b8bdd6;
    }

    @keyframes fadeUp {
      from { opacity:0; transform:translateY(40px); }
      to { opacity:1; transform:translateY(0); }
    }
   a{
    text-decoration: none;
    color: #ffffff;
   }
   #instaimg
   {
    height: 23px;
   }
   #telimg{
    height: 20px;

   }